body{
    text-align: center;
}

.question-container{
    background-color: white;
    border-radius: 5px;
}

.question{
    display: none;
}

.answer{
    display: none;
}

.ansewer-button{
    display: flex;
    justify-content: center;
}

.right{
    display: none;
}

.wrong{
    display: none;
}

.next{
    display: none;
}

.button{
    display: none;
}
